/********************************************
* Custom CSS Styles for Basic Mockup Exercise
*
* Some CSS rules have been added for you below.
* Edit and add CSS rules as you see fit! :D
********************************************/

html,
body {
	margin: 0;
}
div {
	display: inline-block;
}
header {
	background: #00bfff;
	padding-top: 5px;
	padding-left: 100px;
	width: 1200px;
}

h1 {
	padding-left: 70px;
	color: #000000;

}
main div.container {
	display: inline-block;
	padding-left: 75px;
	padding-bottom: 25px;
	padding-top: 25px;



}
.instructions {
	border: solid;
	border-color: #faebd7;
	padding-left: 5px;
	padding-right: 5px;

}
.clear {
	clear: both;
	border: solid;
	border-color: #faebd7;
	background-color: #00bfff;
}

.pull-left {
	float: left;
	clear: right;
	margin-right: 25px;
	border: 5px solid #faebd7;
	margin-top: 25px;
}

.pull-right {
	float: right;
	padding: 5px;
}
img {
	border:1px solid #000000;
}

footer div.container {
	background-color: #000000;
	color: #faebd7;
	width: 1200px;

}

/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

}

.sfooter-content {
	flex: 1 0 auto;

}

/********************************************
* ADD YOUR CSS HERE :D
********************************************/