/********************************************
* Custom CSS Styles for Basic Mockup Exercise
*
* Some CSS rules have been added for you below.
* Edit and add CSS rules as you see fit! :D
********************************************/

html,
body {
	margin: 0;
}
div {
	display: block;
}


h1 {
	padding-left: 70px;
	background-color: #00bfff;
}
main p,h3 {
	padding-left: 15px;
	padding-right: 15px;
	margin-right: 75px;
	margin-left: 75px;
	border: 15px;
}
.instructions {
	margin-left: 75px;
	margin-right: 75px;
	border: solid;
	/* border: 15px; */
	border-color: #faebd7;
	box-sizing: border-box;;

}
.clear {
	clear: both;
	border: solid;
	border-color: #faebd7;
	background-color: #00bfff;
	margin-left: 75px;
	margin-right: 75px;
}
.clear p,h2 {
	padding-left: 15px;
	padding-right: 15px;
}
.pull-left {
	float: left;
	margin-left: 75px;
	padding: 15px;
}
.pull-right {
	float: right;
	border: solid;
	border: 15px;
	border-color: #faebd7;
	padding: 5px;
}

footer div.container {
	background-color: #000000;
	color: #faebd7;

}
.container {
	margin: 0 auto;
	width: 1170px;
}

/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

}

.sfooter-content {
	flex: 1 0 auto;

}

/********************************************
* ADD YOUR CSS HERE :D
********************************************/